@use "../../../app/styles/common/var";

.root {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: var.$table-header-height;
  background-color: var.$bg-header;
}
.body {
  background-color: white;
  min-height: calc(100dvh - 345px);
  padding-top: 200px;
  border: 1px solid rgba(0, 0, 0, 0.081);
  @media (max-width: 1600px) {
    min-height: calc(100dvh - 335px);
  }
  @media (max-width: 1200px) {
    min-height: calc(100dvh - 325px);
  }
  @media (max-width: 768px) {
    min-height: calc(100dvh - 315px);
  }
  @media (max-width: 500px) {
    min-height: calc(100dvh - 305px);
  }
}
.footer {
  height: var.$table-header-height;
  background-color: var.$bg-header;
}
